In [1]:
%%bigquery trips_df1

SELECT *,
       EXTRACT(DAYOFWEEK FROM start_date) AS dow_int,
       CASE EXTRACT(DAYOFWEEK FROM start_date)
           WHEN 1 THEN "Sunday"
           WHEN 2 THEN "Monday"
           WHEN 3 THEN "Tuesday"
           WHEN 4 THEN "Wednesday"
           WHEN 5 THEN "Thursday"
           WHEN 6 THEN "Friday"
           WHEN 7 THEN "Saturday"
           END AS dow_str,
       CASE 
           WHEN EXTRACT(DAYOFWEEK FROM start_date) IN (1, 7) THEN "Weekend"
           ELSE "Weekday"
           END AS dow_weekday,
       EXTRACT(HOUR FROM start_date) AS start_hour,
       CASE 
           WHEN EXTRACT(HOUR FROM start_date) <= 5  OR EXTRACT(HOUR FROM start_date) >= 23 THEN "Nightime"
           WHEN EXTRACT(HOUR FROM start_date) >= 6 and EXTRACT(HOUR FROM start_date) <= 8 THEN "Morning"
           WHEN EXTRACT(HOUR FROM start_date) >= 9 and EXTRACT(HOUR FROM start_date) <= 10 THEN "Mid Morning"
           WHEN EXTRACT(HOUR FROM start_date) >= 11 and EXTRACT(HOUR FROM start_date) <= 13 THEN "Mid Day"
           WHEN EXTRACT(HOUR FROM start_date) >= 14 and EXTRACT(HOUR FROM start_date) <= 16 THEN "Early Afternoon"
           WHEN EXTRACT(HOUR FROM start_date) >= 17 and EXTRACT(HOUR FROM start_date) <= 19 THEN "Afternoon"
           WHEN EXTRACT(HOUR FROM start_date) >= 20 and EXTRACT(HOUR FROM start_date) <= 22 THEN "Evening"
           END AS start_hour_str
FROM `bigquery-public-data.san_francisco.bikeshare_trips`
WHERE EXTRACT(HOUR FROM start_date) >= 7 
    and EXTRACT(HOUR FROM end_date) <=10
ORDER BY start_date ASC

Query complete after 0.01s: 100%|██████████| 2/2 [00:00<00:00, 471.32query/s]
Downloading: 100%|██████████| 330349/330349 [00:01<00:00, 181539.46rows/s]

In [2]:
trips_df1

,trip_id,duration_sec,start_date,start_station_name,start_station_id,end_date,end_station_name,end_station_id,bike_number,zip_code,subscriber_type,dow_int,dow_str,dow_weekday,start_hour,start_hour_str
0,4069,174,2013-08-29 09:08:00+00:00,2nd at South Park,64,2013-08-29 09:11:00+00:00,2nd at South Park,64,288,94114,Subscriber,5,Thursday,Weekday,9,Mid Morning
1,4073,1067,2013-08-29 09:24:00+00:00,South Van Ness at Market,66,2013-08-29 09:42:00+00:00,San Francisco Caltrain 2 (330 Townsend),69,321,94703,Subscriber,5,Thursday,Weekday,9,Mid Morning
2,4075,1117,2013-08-29 09:24:00+00:00,South Van Ness at Market,66,2013-08-29 09:43:00+00:00,San Francisco Caltrain 2 (330 Townsend),69,316,94122,Subscriber,5,Thursday,Weekday,9,Mid Morning
3,4074,1131,2013-08-29 09:24:00+00:00,South Van Ness at Market,66,2013-08-29 09:43:00+00:00,San Francisco Caltrain 2 (330 Townsend),69,317,94115,Subscriber,5,Thursday,Weekday,9,Mid Morning
4,4076,1118,2013-08-29 09:25:00+00:00,South Van Ness at Market,66,2013-08-29 09:43:00+00:00,San Francisco Caltrain 2 (330 Townsend),69,322,94597,Subscriber,5,Thursday,Weekday,9,Mid Morning
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
330344,1337541,349,2016-08-31 10:42:00+00:00,Mountain View Caltrain Station,28,2016-08-31 10:48:00+00:00,Mountain View City Hall,27,248,94103,Subscriber,4,Wednesday,Weekday,10,Mid Morning
330345,1337550,198,2016-08-31 10:50:00+00:00,Market at 10th,67,2016-08-31 10:54:00+00:00,Civic Center BART (7th at Market),72,533,94102,Subscriber,4,Wednesday,Weekday,10,Mid Morning
330346,1337551,420,2016-08-31 10:52:00+00:00,Spear at Folsom,49,2016-08-31 10:59:00+00:00,2nd at Townsend,61,647,94610,Subscriber,4,Wednesday,Weekday,10,Mid Morning
330347,1337553,355,2016-08-31 10:53:00+00:00,San Francisco Caltrain (Townsend at 4th),70,2016-08-31 10:59:00+00:00,Spear at Folsom,49,327,94402,Subscriber,4,Wednesday,Weekday,10,Mid Morning
330348,1337558,95,2016-08-31 10:55:00+00:00,San Francisco City Hall,58,2016-08-31 10:57:00+00:00,Golden Gate at Polk,59,413,94105,Subscriber,4,Wednesday,Weekday,10,Mid Morning

In [3]:
trips_df1.min()

trip_id                                    4069
duration_sec                                 60
start_date            2013-08-29 09:08:00+00:00
start_station_name                2nd at Folsom
start_station_id                              2
end_date              2013-08-29 09:11:00+00:00
end_station_name                  2nd at Folsom
end_station_id                                2
bike_number                                   9
zip_code
subscriber_type                        Customer
dow_int                                       1
dow_str                                  Friday
dow_weekday                             Weekday
start_hour                                    7
start_hour_str                        Afternoon
dtype: object