In [3]:
%%bigquery trips_df1

SELECT *,
       EXTRACT(DAYOFWEEK FROM start_date) AS dow_int,
       CASE EXTRACT(DAYOFWEEK FROM start_date)
           WHEN 1 THEN "Sunday"
           WHEN 2 THEN "Monday"
           WHEN 3 THEN "Tuesday"
           WHEN 4 THEN "Wednesday"
           WHEN 5 THEN "Thursday"
           WHEN 6 THEN "Friday"
           WHEN 7 THEN "Saturday"
           END AS dow_str,
       CASE 
           WHEN EXTRACT(DAYOFWEEK FROM start_date) IN (1, 7) THEN "Weekend"
           ELSE "Weekday"
           END AS dow_weekday,
       EXTRACT(HOUR FROM start_date) AS start_hour,
       CASE 
           WHEN EXTRACT(HOUR FROM start_date) <= 5  OR EXTRACT(HOUR FROM start_date) >= 23 THEN "Nightime"
           WHEN EXTRACT(HOUR FROM start_date) >= 6 and EXTRACT(HOUR FROM start_date) <= 8 THEN "Morning"
           WHEN EXTRACT(HOUR FROM start_date) >= 9 and EXTRACT(HOUR FROM start_date) <= 10 THEN "Mid Morning"
           WHEN EXTRACT(HOUR FROM start_date) >= 11 and EXTRACT(HOUR FROM start_date) <= 13 THEN "Mid Day"
           WHEN EXTRACT(HOUR FROM start_date) >= 14 and EXTRACT(HOUR FROM start_date) <= 16 THEN "Early Afternoon"
           WHEN EXTRACT(HOUR FROM start_date) >= 17 and EXTRACT(HOUR FROM start_date) <= 19 THEN "Afternoon"
           WHEN EXTRACT(HOUR FROM start_date) >= 20 and EXTRACT(HOUR FROM start_date) <= 22 THEN "Evening"
           END AS start_hour_str
FROM `bigquery-public-data.san_francisco.bikeshare_trips`
ORDER BY start_date ASC

Query complete after 0.01s: 100%|██████████| 1/1 [00:00<00:00, 956.29query/s]
Downloading: 100%|██████████| 983648/983648 [00:02<00:00, 453011.98rows/s]

In [4]:
trips_df1

,trip_id,duration_sec,start_date,start_station_name,start_station_id,end_date,end_station_name,end_station_id,bike_number,zip_code,subscriber_type,dow_int,dow_str,dow_weekday,start_hour,start_hour_str
0,4069,174,2013-08-29 09:08:00+00:00,2nd at South Park,64,2013-08-29 09:11:00+00:00,2nd at South Park,64,288,94114,Subscriber,5,Thursday,Weekday,9,Mid Morning
1,4073,1067,2013-08-29 09:24:00+00:00,South Van Ness at Market,66,2013-08-29 09:42:00+00:00,San Francisco Caltrain 2 (330 Townsend),69,321,94703,Subscriber,5,Thursday,Weekday,9,Mid Morning
2,4075,1117,2013-08-29 09:24:00+00:00,South Van Ness at Market,66,2013-08-29 09:43:00+00:00,San Francisco Caltrain 2 (330 Townsend),69,316,94122,Subscriber,5,Thursday,Weekday,9,Mid Morning
3,4074,1131,2013-08-29 09:24:00+00:00,South Van Ness at Market,66,2013-08-29 09:43:00+00:00,San Francisco Caltrain 2 (330 Townsend),69,317,94115,Subscriber,5,Thursday,Weekday,9,Mid Morning
4,4076,1118,2013-08-29 09:25:00+00:00,South Van Ness at Market,66,2013-08-29 09:43:00+00:00,San Francisco Caltrain 2 (330 Townsend),69,322,94597,Subscriber,5,Thursday,Weekday,9,Mid Morning
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
983643,1338404,511,2016-08-31 23:05:00+00:00,Davis at Jackson,42,2016-08-31 23:14:00+00:00,Post at Kearny,47,370,94109,Subscriber,4,Wednesday,Weekday,23,Nightime
983644,1338406,457,2016-08-31 23:06:00+00:00,Davis at Jackson,42,2016-08-31 23:13:00+00:00,Spear at Folsom,49,504,94111,Subscriber,4,Wednesday,Weekday,23,Nightime
983645,1338405,701,2016-08-31 23:06:00+00:00,San Francisco Caltrain (Townsend at 4th),70,2016-08-31 23:17:00+00:00,Spear at Folsom,49,175,94133,Subscriber,4,Wednesday,Weekday,23,Nightime
983646,1338407,260,2016-08-31 23:09:00+00:00,Embarcadero at Bryant,54,2016-08-31 23:14:00+00:00,Steuart at Market,74,226,94114,Subscriber,4,Wednesday,Weekday,23,Nightime
983647,1338408,378,2016-08-31 23:32:00+00:00,Washington at Kearny,46,2016-08-31 23:38:00+00:00,Embarcadero at Sansome,60,667,94111,Subscriber,4,Wednesday,Weekday,23,Nightime

In [5]:
from pandas.tseries.holiday import USFederalHolidayCalendar
cal = USFederalHolidayCalendar()
holidays = cal.holidays(start='2013-01-01', end='2016-12-31')

In [6]:
trips_df1['date'] = trips_df1['start_date'].dt.date

In [19]:
trips_df1['start_time'] = trips_df1['start_date'].dt.time

AttributeError: 'DatetimeProperties' object has no attribute 'strptime'

In [ ]:
strptime

,trip_id,duration_sec,start_date,start_station_name,start_station_id,end_date,end_station_name,end_station_id,bike_number,zip_code,subscriber_type,dow_int,dow_str,dow_weekday,start_hour,start_hour_str,date,time,start_time
0,4069,174,2013-08-29 09:08:00+00:00,2nd at South Park,64,2013-08-29 09:11:00+00:00,2nd at South Park,64,288,94114,Subscriber,5,Thursday,Weekday,9,Mid Morning,2013-08-29,09:08:00,09:08:00
1,4073,1067,2013-08-29 09:24:00+00:00,South Van Ness at Market,66,2013-08-29 09:42:00+00:00,San Francisco Caltrain 2 (330 Townsend),69,321,94703,Subscriber,5,Thursday,Weekday,9,Mid Morning,2013-08-29,09:24:00,09:24:00
2,4075,1117,2013-08-29 09:24:00+00:00,South Van Ness at Market,66,2013-08-29 09:43:00+00:00,San Francisco Caltrain 2 (330 Townsend),69,316,94122,Subscriber,5,Thursday,Weekday,9,Mid Morning,2013-08-29,09:24:00,09:24:00
3,4074,1131,2013-08-29 09:24:00+00:00,South Van Ness at Market,66,2013-08-29 09:43:00+00:00,San Francisco Caltrain 2 (330 Townsend),69,317,94115,Subscriber,5,Thursday,Weekday,9,Mid Morning,2013-08-29,09:24:00,09:24:00
4,4076,1118,2013-08-29 09:25:00+00:00,South Van Ness at Market,66,2013-08-29 09:43:00+00:00,San Francisco Caltrain 2 (330 Townsend),69,322,94597,Subscriber,5,Thursday,Weekday,9,Mid Morning,2013-08-29,09:25:00,09:25:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
983643,1338404,511,2016-08-31 23:05:00+00:00,Davis at Jackson,42,2016-08-31 23:14:00+00:00,Post at Kearny,47,370,94109,Subscriber,4,Wednesday,Weekday,23,Nightime,2016-08-31,23:05:00,23:05:00
983644,1338406,457,2016-08-31 23:06:00+00:00,Davis at Jackson,42,2016-08-31 23:13:00+00:00,Spear at Folsom,49,504,94111,Subscriber,4,Wednesday,Weekday,23,Nightime,2016-08-31,23:06:00,23:06:00
983645,1338405,701,2016-08-31 23:06:00+00:00,San Francisco Caltrain (Townsend at 4th),70,2016-08-31 23:17:00+00:00,Spear at Folsom,49,175,94133,Subscriber,4,Wednesday,Weekday,23,Nightime,2016-08-31,23:06:00,23:06:00
983646,1338407,260,2016-08-31 23:09:00+00:00,Embarcadero at Bryant,54,2016-08-31 23:14:00+00:00,Steuart at Market,74,226,94114,Subscriber,4,Wednesday,Weekday,23,Nightime,2016-08-31,23:09:00,23:09:00
983647,1338408,378,2016-08-31 23:32:00+00:00,Washington at Kearny,46,2016-08-31 23:38:00+00:00,Embarcadero at Sansome,60,667,94111,Subscriber,4,Wednesday,Weekday,23,Nightime,2016-08-31,23:32:00,23:32:00

In [11]:
weekdays = trips_df1[trips_df1['dow_weekday'] == 'Weekday']
non_holiday_weekdays = weekdays[weekdays['date'].isin(holidays) == False]

/opt/conda/lib/python3.7/site-packages/pandas/core/algorithms.py:523: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior.  In a future version these will be considered non-comparable.Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  return f(comps, values)

In [12]:
non_holiday_weekdays

,trip_id,duration_sec,start_date,start_station_name,start_station_id,end_date,end_station_name,end_station_id,bike_number,zip_code,subscriber_type,dow_int,dow_str,dow_weekday,start_hour,start_hour_str,date,time,start_time
0,4069,174,2013-08-29 09:08:00+00:00,2nd at South Park,64,2013-08-29 09:11:00+00:00,2nd at South Park,64,288,94114,Subscriber,5,Thursday,Weekday,9,Mid Morning,2013-08-29,09:08:00,09:08:00
1,4073,1067,2013-08-29 09:24:00+00:00,South Van Ness at Market,66,2013-08-29 09:42:00+00:00,San Francisco Caltrain 2 (330 Townsend),69,321,94703,Subscriber,5,Thursday,Weekday,9,Mid Morning,2013-08-29,09:24:00,09:24:00
2,4075,1117,2013-08-29 09:24:00+00:00,South Van Ness at Market,66,2013-08-29 09:43:00+00:00,San Francisco Caltrain 2 (330 Townsend),69,316,94122,Subscriber,5,Thursday,Weekday,9,Mid Morning,2013-08-29,09:24:00,09:24:00
3,4074,1131,2013-08-29 09:24:00+00:00,South Van Ness at Market,66,2013-08-29 09:43:00+00:00,San Francisco Caltrain 2 (330 Townsend),69,317,94115,Subscriber,5,Thursday,Weekday,9,Mid Morning,2013-08-29,09:24:00,09:24:00
4,4076,1118,2013-08-29 09:25:00+00:00,South Van Ness at Market,66,2013-08-29 09:43:00+00:00,San Francisco Caltrain 2 (330 Townsend),69,322,94597,Subscriber,5,Thursday,Weekday,9,Mid Morning,2013-08-29,09:25:00,09:25:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
983643,1338404,511,2016-08-31 23:05:00+00:00,Davis at Jackson,42,2016-08-31 23:14:00+00:00,Post at Kearny,47,370,94109,Subscriber,4,Wednesday,Weekday,23,Nightime,2016-08-31,23:05:00,23:05:00
983644,1338406,457,2016-08-31 23:06:00+00:00,Davis at Jackson,42,2016-08-31 23:13:00+00:00,Spear at Folsom,49,504,94111,Subscriber,4,Wednesday,Weekday,23,Nightime,2016-08-31,23:06:00,23:06:00
983645,1338405,701,2016-08-31 23:06:00+00:00,San Francisco Caltrain (Townsend at 4th),70,2016-08-31 23:17:00+00:00,Spear at Folsom,49,175,94133,Subscriber,4,Wednesday,Weekday,23,Nightime,2016-08-31,23:06:00,23:06:00
983646,1338407,260,2016-08-31 23:09:00+00:00,Embarcadero at Bryant,54,2016-08-31 23:14:00+00:00,Steuart at Market,74,226,94114,Subscriber,4,Wednesday,Weekday,23,Nightime,2016-08-31,23:09:00,23:09:00
983647,1338408,378,2016-08-31 23:32:00+00:00,Washington at Kearny,46,2016-08-31 23:38:00+00:00,Embarcadero at Sansome,60,667,94111,Subscriber,4,Wednesday,Weekday,23,Nightime,2016-08-31,23:32:00,23:32:00

In [29]:
non_holiday_weekdays['start_time'] = [x.strptime("%h/%m/%s") for x in non_holiday_weekdays['start_time']]

AttributeError: 'str' object has no attribute 'strptime'

In [28]:
non_holiday_weekdays

,trip_id,duration_sec,start_date,start_station_name,start_station_id,end_date,end_station_name,end_station_id,bike_number,zip_code,subscriber_type,dow_int,dow_str,dow_weekday,start_hour,start_hour_str,date,time,start_time
0,4069,174,2013-08-29 09:08:00+00:00,2nd at South Park,64,2013-08-29 09:11:00+00:00,2nd at South Park,64,288,94114,Subscriber,5,Thursday,Weekday,9,Mid Morning,2013-08-29,09:08:00,Jan/01/-2208955920
1,4073,1067,2013-08-29 09:24:00+00:00,South Van Ness at Market,66,2013-08-29 09:42:00+00:00,San Francisco Caltrain 2 (330 Townsend),69,321,94703,Subscriber,5,Thursday,Weekday,9,Mid Morning,2013-08-29,09:24:00,Jan/01/-2208954960
2,4075,1117,2013-08-29 09:24:00+00:00,South Van Ness at Market,66,2013-08-29 09:43:00+00:00,San Francisco Caltrain 2 (330 Townsend),69,316,94122,Subscriber,5,Thursday,Weekday,9,Mid Morning,2013-08-29,09:24:00,Jan/01/-2208954960
3,4074,1131,2013-08-29 09:24:00+00:00,South Van Ness at Market,66,2013-08-29 09:43:00+00:00,San Francisco Caltrain 2 (330 Townsend),69,317,94115,Subscriber,5,Thursday,Weekday,9,Mid Morning,2013-08-29,09:24:00,Jan/01/-2208954960
4,4076,1118,2013-08-29 09:25:00+00:00,South Van Ness at Market,66,2013-08-29 09:43:00+00:00,San Francisco Caltrain 2 (330 Townsend),69,322,94597,Subscriber,5,Thursday,Weekday,9,Mid Morning,2013-08-29,09:25:00,Jan/01/-2208954900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
983643,1338404,511,2016-08-31 23:05:00+00:00,Davis at Jackson,42,2016-08-31 23:14:00+00:00,Post at Kearny,47,370,94109,Subscriber,4,Wednesday,Weekday,23,Nightime,2016-08-31,23:05:00,Jan/01/-2208905700
983644,1338406,457,2016-08-31 23:06:00+00:00,Davis at Jackson,42,2016-08-31 23:13:00+00:00,Spear at Folsom,49,504,94111,Subscriber,4,Wednesday,Weekday,23,Nightime,2016-08-31,23:06:00,Jan/01/-2208905640
983645,1338405,701,2016-08-31 23:06:00+00:00,San Francisco Caltrain (Townsend at 4th),70,2016-08-31 23:17:00+00:00,Spear at Folsom,49,175,94133,Subscriber,4,Wednesday,Weekday,23,Nightime,2016-08-31,23:06:00,Jan/01/-2208905640
983646,1338407,260,2016-08-31 23:09:00+00:00,Embarcadero at Bryant,54,2016-08-31 23:14:00+00:00,Steuart at Market,74,226,94114,Subscriber,4,Wednesday,Weekday,23,Nightime,2016-08-31,23:09:00,Jan/01/-2208905460
983647,1338408,378,2016-08-31 23:32:00+00:00,Washington at Kearny,46,2016-08-31 23:38:00+00:00,Embarcadero at Sansome,60,667,94111,Subscriber,4,Wednesday,Weekday,23,Nightime,2016-08-31,23:32:00,Jan/01/-2208904080

In [27]:
non_holiday_weekday_morning_rushhr = non_holiday_weekdays[non_holiday_weekdays['start_time'].between('7:00:00', '9:30:00')]

non_holiday_weekday_morning_rushhr

Empty DataFrame
Columns: [trip_id, duration_sec, start_date, start_station_name, start_station_id, end_date, end_station_name, end_station_id, bike_number, zip_code, subscriber_type, dow_int, dow_str, dow_weekday, start_hour, start_hour_str, date, time, start_time]
Index: []

In [82]:
non_holiday_weekday_morning_rushhr.start_date.sort_values()

0        2013-08-29 09:08:00+00:00
1        2013-08-29 09:24:00+00:00
2        2013-08-29 09:24:00+00:00
3        2013-08-29 09:24:00+00:00
4        2013-08-29 09:25:00+00:00
                    ...
982950   2016-08-31 09:55:00+00:00
982949   2016-08-31 09:55:00+00:00
982951   2016-08-31 09:55:00+00:00
982952   2016-08-31 09:56:00+00:00
982953   2016-08-31 09:59:00+00:00
Name: start_date, Length: 285163, dtype: datetime64[ns, UTC]